google-adk==1.9.0
fastapi==0.116.1
uvicorn==0.35.0
gunicorn==23.0.0
google-generativeai==0.8.5
stravalib==2.4
python-dotenv==1.1.0
httpx
requests==2.32.4
SQLAlchemy==2.0.42
psycopg2-binary==2.9.10
pydantic==2.11.7
pydantic_core==2.33.2
pytest==8.2.2
pytest-asyncio==0.23.7
types-python-dateutil==2.9.0.20250708
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.6.3